<div class="card card-wrap">
  <div class="container">
      <div class="image-wrap">
              <img class="card-img-top img-props"
              src="../../assets/images/{{currentDayData.type}}.jpg"
              alt="Card image cap">
              <i class="fa fa-sun-o" aria-hidden="true"></i>

              <div class="left">
                  <p class="text-color">day: {{currentDayData.day}}</p>
                  <p class="temp value-change" (click)="convert('temp')">temp: {{currentDayData.temp}} {{wheaterData.tempUnit}}</p>
                  <p class="text-color value-change wind-prop"  (click)="convert('speed')">wind direction: {{currentDayData.windSpeed}} {{wheaterData.windSpeedUnit}}<i class="fa fa-arrow-right fa-rotate-{{windDirection}} wind"></i></p>
              </div>
      </div>
      <div class="right">
              <i class="fa fa-{{currentDayData.type}} icon-prop"></i>
      </div>
  </div>
  <div class="card-body">
      <div class="wrap">
          <div class="flex-container">
              <div class="ddd" *ngFor="let data of wheaterData.days | paginate: { itemsPerPage: 3, currentPage: page, maxSize: 0 };let i = index">
                  <div class="flex-items" (click)="setCurrentDay(data)">
                      <p class="day">{{data.day}}</p>
                      <i class="fa fa-{{data.type}} icon-prop"></i>
                  </div>
              </div>
          </div>
          <div>
                  <pagination-controls class="my-pagination"  (pageChange)="test(page = $event)"
                  maxSize="0"
                  (isFirstPage)="lastPage"></pagination-controls>
              </div>
      </div>
  </div>
</div>