.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.day {
    padding: 2px;
}

.icon-prop {
    color: whitesmoke;
    font-size: 45px;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 20px;
}
 
.flex-items {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.my-pagination /deep/ pagination-template ul {
    padding-left: 0px;
    text-align: center;
}

.container {
    position: relative;
    color: white;
    padding: 0;
}
.left {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 200px;
}

.right {
    position: absolute;
    top: 30px;
    left: 200px;
    color: white;
}

.temp {
      font-size: 20px;
      color: whitesmoke;
      text-shadow: 1px 0 0 black;
}

.flex-items:hover {
    background-color: lightblue;
    color: white;
}

.image-wrap {
    height: 200px;
}

.img-props {
    height: 100%;
}

.ddd {
    width: 30%;
} 

.ddd:first-child {
    margin-left: 10px;
}

.text-color {
    color: whitesmoke;
    font-size: 15px;
    text-shadow: 1px 0 0 black;
} 

.wind {
    margin-left: 10px;
}

.value-change:hover {
    cursor: pointer;
    user-select: none;
}

.wind-prop {
    margin-top: 80px;
}

.card-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    /* margin-top: 10vh; */
    box-shadow: 2px 4px 7px lightgray;
}

  